.login{
    min-height: 100vh;
    background: url(./background.png)no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.login .logo{
    width: max(20vw,200px);
}
.login-form{
    background: white;
    padding: 20px 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-radius: 8px;
}
.form-input{
 padding: 8px 10px;
 border: 1px ridge gray;
 border-radius: 4px;
 outline-color: gray;

}
.login-form button{
    padding: 8px 10px;
    border-radius: 8px;
    border: 1px ridge gray;
    background-color: rgb(94, 94, 238);
    color: white;
   border:none;
 font-size: 16px;
}
.login-term{
   display: flex;
   gap: 4px;
    font-size: 12px;
    color: #808080;
}
.login-forgot{
    display: flex;
    flex-direction: column;
    gap: 5;
}
.login-toggle{
    font-size: 13px;
   color: #5c5c5c;
}
.login-toggle span{
    font-weight: 500;
    color: rgb(94, 94, 238);
    cursor: pointer;
}
