.chat {
  min-height: 100vh;
  /* background: linear-gradient(#596AFF,#383699); */
  background: linear-gradient(135deg, #3a1cff, #5bc0ff);
  display: grid;
  place-items: center;
}
.chat-container {
  backdrop-filter: blur(20px);
  background: rgba(255, 255, 255, 0.1);
  border-radius: 18px;
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.2);
  width: 95%;
  height: 75vh;
  max-width: 1000px;
  background-color: aliceblue;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
}
.loading {
  font-size: 50px;
  color: white;
}
.chat-container {
  display: grid;
  /* height: 100vh; */
  transition: all 0.3s ease;
}

/* RightSidebar visible */
.chat-container.with-right {
  grid-template-columns: 280px 1fr 320px;
}

/* RightSidebar hidden */
.chat-container.no-right {
  grid-template-columns: 280px 1fr;
}

@media (max-screen: 900px) {
  .chat-container {
    display: flex;
  }
  .loading {
    font-size: 30px;
  }
}
