.profile {
    min-height: 100vh;
    background: url(/background.png) no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile-container{
    background: white;
    padding: 10px;
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile-pic{
    width: 160px;       
    height: 160px;      
    object-fit: cover;   
    object-position: center;
    margin: 20px auto;
    border-radius: 50%;
}

.profile form{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 40px;
}

.profile form h3{
    font-weight: 500;
}

.profile label{
    display: flex;
    align-items: center;
    gap: 10px;
    color: gray;
    cursor: pointer;
}

.profile label img{
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
}

.profile input, textarea{
    padding: 10px;
    min-width: 300px;
    border: 1px solid #c9c9c9;
    outline-color: #077eff;
}

.profile form button{
    border: none;
    color: white;
    padding: 8px;
    border-radius: 4px;
    background: #077eff;
    font-size: 16px;
    cursor: pointer;
}
